* {
  margin: 0;
}

#canvas {
    background-color:#30c0df;
    /* border: 2px solid black; */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: auto; */
    /* margin-top: 10%; */
}